# Proteus backup files
*.pdsbak

# Amtel Studio bin and workspace files
Debug
.vs
*.componentinfo.xml
*.workspace

# Build files
ZOUT
list.txt
map.txt
mic.txt
tablabel.txt
*.hex
*.exe

# Test files
*.pdf
test*.asm
HANOI.ASM
IOPORTS.asm

# Desktop
*.ini